---
title: About
---
<div class="banner-pages" style="background: linear-gradient(-225deg, rgba(204,115,48,0.4) 0%, rgba(85,78,72,0.6) 50%), url('/images/beans-3.jpeg'); background-position: 30% 50%;">
  <div class="banner-content">
    <h2>Allo Allo!</h2>
  </div>
</div>
<div class="wrapper-orange panel-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel-col">
          <div class="col-md-4">
            <img src="/images/jolien.jpg" class="img-responsive col-img">
          </div>
          <div class="col-md-8 padded panel-content">
            <h4>Ik ben Jolien, de eigenaar van Het koffieboontje en gepassioneerde barista.</h4>
            <br>
            <p>Vanaf 1 april 2016 kan iedereen uit de omgeving genieten van een koffietje of iets anders lekkers bij mij. U kunt rekenen op top service en een gezellige sweer op een fijne, centrale locatie in Zandhoven</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel-col">
          <div class="col-md-8 panel-content">
            <h4>Locale producten enzo</h4>
            <br>
            <img src="/images/taeyman_logo.png" class="img-responsive logo-img">
          </div>
          <div class="col-md-4">
            <img src="/images/local.jpeg" class="img-responsive col-img">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel-col">
          <div class="col-md-4">
            <img src="/images/pools.jpg" class="img-responsive col-img">
          </div>
          <div class="col-md-8 panel-content">
            <h4>Je vindt hier een brede verzameling van interieur uit de hele wereld.</h4>
            <br>
            <p>In het koffieboontje vind je Poolse invloeden terug die voort bloeien uit mijn stamboom. Ook hebben we meubels van de kringloop een opknap beurt gegeven en is er veel kunst te zien. Als u iets moois tegenkomt zou u dit in de meeste gevallen kunnen kopen!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel-col">
          <div class="col-md-8 panel-content">
            <h4>Ik heb hele brede interesses dus ben benieuwd naar jullie verhalen!</h4>
            <br>
            <p>Voordat ik dit leuke koffietentje opzette heb ik een tijdje archeologie en slavische talen gestudeerd. Nu ben ik naast barista ook nog een aantal dagen in de week op avondschool voor toerisme.</p>
          </div>
          <div class="col-md-4">
            <img src="/images/archeologie.jpg" class="img-responsive col-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>