#footer {
  padding: 50px 25px 5px 25px;
  background-color: #F0D7C3;
  p{
    margin: 2px;
  }
  h5{
    font-weight: 600;
    letter-spacing: 1px;
  }
}
.fb {
  a{
    color: #616668;
    &:hover{
      color: #CC7330;
    }
  }
  .fa {
    color: #616668;
    &:hover{
      color: #CC7330;
    }
  }
}
.footer-openinghours{
  color: #616668;
  ul{
    list-style-type: none;
    padding: 0;
  }
  li{
    margin: 2px;
  }
}