.panel-col{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.13);
  margin-top: 20px;
  background-color: white;
  height: 220px;
}
.panel-content{
  padding: 30px;
  h4{
    margin-top: 0px;
  }
}
.panel-padding{
  padding-top: 30px;
  padding-bottom: 30px;
}
.col-img{
  height: 220px;
  width: 400px;
}
.col-md-4{
  padding: 0px;
}
.logo-img{
  width: 120px;
  height: 60px;
}
.about-statement{
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  p{
    color:rgba(97, 102, 104, 0.7);
  }
  .product-link img{
    width: 85%;
    margin: 2%;
  }
}
.products{
  display: flex;
}
#myCarousel{
  background-color: #EFEBE9;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.carousel-inner > .item > img {
  max-height: 600px;
  margin: auto;
  width: 100%;
}
.carousel-control.left{
  background-image: linear-gradient(to right, #633821 0%, rgba(0, 0, 0, 0.0001) 100%);
}
.carousel-control.right{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, #633821 100%);
}
.carousel-caption{
  h3{
    text-align: left;
    color: white; 
  }
  p{
    text-align: left;
    color: white;   
  }
}