.padded-top{
  padding-top: 5em;
}
.wrapper-whitish{
  background-color: #EFEBE9;
}
.welcome-statement{
  display: flex;
  margin: auto;
  max-width: 800px;
}
.welcome-statement-avatar img{
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #d89b6e;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
}
.welcome-statement-quote{
  font-size: 18px;
  text-align: left;
  margin: auto;
  margin-left: 30px;
  i{
    margin: 0 5px;
  }
}