<div id="footer">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-3">
        <ul class="list-unstyled">
          <h5>Site<h5>
            <li><%= link_to "Home", "index.html" %></li>
            <li><%= link_to "About", "about.html" %></li>
            <li><%= link_to "Menu", "menu.html" %></li>
            <li><%= link_to "Contact", "contact.html" %></li>
          </ul>
        </div>
      <div class="col-xs-3 address">
        <p>Amelbergastraat 35</p>
        <p>2240 Zandhoven</p>
        <p>België</p>
      </div>
    </div>
      <hr>
      <div class="row fb">
        <div class="col-xs-8">
                <ul class="list-unstyled list-inline pull-left">
                    <li><a href="https://www.facebook.com/Het-Koffieboontje-1510940029210777/?fref=ts"><i class="fa fa-facebook-official"></i> Volg ons op Facebook</a></li>
                </ul>
            </div>
        <div class="col-xs-4">
          <p class="text-muted pull-right">© Iris Kramer. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>