---
title: About
---
<div class="banner-pages" style="background: linear-gradient(-225deg, rgba(204,115,48,0.4) 0%, rgba(85,78,72,0.6) 50%), url('images/beans-compressor.jpeg'); background-position: 30% 50%;">
  <div class="banner-content">
    <h2>Allo Allo!</h2>
  </div>
</div>

<div class="wrapper-whitish">
  <div class="container">
    <div class="welcome-statement about-statement" style="margin: 50px auto;">
      <div class="welcome-statement-avatar">
        <img src="images/jolien.jpg" alt="Jolien Gabriels">
      </div>
      <div class="welcome-statement-quote">
        <h4>Ik ben Jolien, de eigenaar van Het koffieboontje en gepassioneerde barista.</h4>
        <p>Vanaf 2 april 2016 kan iedereen uit de omgeving genieten van een koffietje of iets anders lekkers bij mij. U kunt rekenen op top service en een gezellige sfeer op een fijne, centrale locatie in Zandhoven</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-whitish">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="images/opening.jpg" alt="Kastje met onze producten" style="height: 450px;">
        <div class="carousel-caption">
          <h3>Bedankt voor de bloemen!</h3>
          <p>De opening(sweek) was een groot succes! Bij deze wil ik jullie allemaal bedanken voor jullie aanwezigheid en steun!</p>
        </div>
      </div>

      <div class="item">
        <img src="images/kastje.JPG" alt="Bedankt voor de bloemen" style="height: 450px;">
        <div class="carousel-caption">
          <h3>Poolse invloeden</h3>
          <p>Heeft u onze theekopjes al bewonderd? Deze hebben we aangekocht in Polen. En niet zomaar. Mijn grootmoeder was afkomstig uit Warschau.  Om deze reden gaan we elk jaar, al 25 jaar lang, op reis naar Polen om de familie te bezoeken. En eigenlijk zijn we verliefd geworden op dat land, haar inwoners en haar cultuur. Op deze manier willen wij onze liefde voor Polen met jullie delen. Als u de keramiek net zo mooi vindt als wij kunt u deze in Het Koffieboontje aanschaffen. De prijs varieert van 5 - 25 euro.</p>
        </div>
      </div>

      <div class="item">
        <img src="images/taeymans.JPG" alt="Taeymans" style="height: 450px;">
        <div class="carousel-caption">
          <h3>Locale producenten</h3>
          <p>We gebruiken het liefst locale, verse producten. Zo komen de taarten van <a href="http://www.taartenwereld.com/">Taartenwereld</a> in Pulle. De gebakjes en het brood komen van <a href="https://www.facebook.com/Bakkerij-Berten-Iris-672254229525761/">Bakkerij Berten en Iris</a> in Massenhoven. En de <a href="http://www.taeymanscoffee.be/">Taeymans koffie</a> heeft haar basis in Beerse.</p>
        </div>
      </div>

      <div class="item">
        <img src="images/archeologie.jpg" alt="Mijn studies" style="height: 450px;">
        <div class="carousel-caption">
          <h3>Van archeoloog tot reisleidster en ondernemer</h3>
          <p>Ooit begon ik mijn carrière als archeologe aan de Universiteit Leiden in Nederland. Ondertussen zijn we een paar jaar verder en ben ik nu in avondschool bezig aan de opleiding Reisleider/gids.  Naast geschiedenis en reizen ben ik nu begonnen met het ontbolsteren van mijn derde passie: koffie.</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="wrapper-whitish">
  <div class="container padded">
    <div class="welcome-statement about-statement">
      <!-- <h3>Onze producenten</h3> -->
      <div class="products">
        <a href="https://www.facebook.com/Bakkerij-Berten-Iris-672254229525761/" class="product-link" target="_blank"><img src="images/bakkerij.jpg" alt="Bakkerij Berten en Iris"></a>
        <a href="http://www.taartenwereld.com/" class="product-link" target="_blank"><img src="images/taartenwereld.png" alt="Taartenwereld"></a>
        <a href="http://www.taeymanscoffee.be/" class="product-link" target="_blank"><img src="images/taeyman_logo.png" alt="Taeymans"></a>
        <a href="https://www.or-tea.be/" class="product-link" target="_blank"><img src="images/ortea.png" alt="Or Tea?"></a>
      </div>
    </div>
  </div>
</div>


<!-- 
<div class="wrapper-orange panel-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel-col">
          <div class="col-md-4">
            <img src="images/jolien.jpg" class="img-responsive col-img">
          </div>
          <div class="col-md-8 padded panel-content">
            <h4>Ik ben Jolien, de eigenaar van Het koffieboontje en gepassioneerde barista.</h4>
            <br>
            <p>Vanaf 1 april 2016 kan iedereen uit de omgeving genieten van een koffietje of iets anders lekkers bij mij. U kunt rekenen op top service en een gezellige sweer op een fijne, centrale locatie in Zandhoven</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel-col">
          <div class="col-md-8 panel-content">
            <h4>Locale producten enzo</h4>
            <br>
            <img src="images/taeyman_logo.png" class="img-responsive logo-img">
          </div>
          <div class="col-md-4">
            <img src="images/local.jpeg" class="img-responsive col-img">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel-col">
          <div class="col-md-4">
            <img src="images/pools.jpg" class="img-responsive col-img">
          </div>
          <div class="col-md-8 panel-content">
            <h4>Je vindt hier een brede verzameling van interieur uit de hele wereld.</h4>
            <br>
            <p>In het koffieboontje vind je Poolse invloeden terug die voort bloeien uit mijn stamboom. Ook hebben we meubels van de kringloop een opknap beurt gegeven en is er veel kunst te zien. Als u iets moois tegenkomt zou u dit in de meeste gevallen kunnen kopen!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel-col">
          <div class="col-md-8 panel-content">
            <h4>Ik heb hele brede interesses dus ben benieuwd naar jullie verhalen!</h4>
            <br>
            <p>Voordat ik dit leuke koffietentje opzette heb ik een tijdje archeologie en slavische talen gestudeerd. Nu ben ik naast barista ook nog een aantal dagen in de week op avondschool voor toerisme.</p>
          </div>
          <div class="col-md-4">
            <img src="images/archeologie.jpg" class="img-responsive col-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->