---
title: Contact
---
<div class="banner-pages" style="background: linear-gradient(-225deg, rgba(204,115,48,0.4) 0%, rgba(85,78,72,0.6) 50%), url('images/beans-compressor.jpeg'); background-position: 30% 50%;">
  <div class="banner-content">
    <h2>Stuur een mail of kom gezellig langs</h2>
  </div>
</div>

<div class="wrapper-contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <ul class="list-contacts">
          <li>
            <i class="fa fa-home"></i>
            <p>Amelbergastraat 35</p>
            <p>2240 Zandhoven</p>
            <p>België</p>
          </li>
          <li>
            <i class="fa fa-phone"></i> 
            +32 476569063
          </li>
          <li>
            <i class="fa fa-pencil-square-o"></i>
            BTW-nr: 0647.618.421
          </li>
          <li>
            <i class="fa fa-envelope-o"></i> 
            <a href="mailto:het.koffieboontje@telenet.be">het.koffieboontje@telenet.be</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-7">
        <form action="https://formspree.io/het.koffieboontje@telenet.be" method="POST" class="form-booking direct-message">
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">   
                <input type="text" name="name" class="form-control" placeholder="naam">
              </div>
            </div>
            <div class="col-xs-8">
              <div class="form-group">   
                <input type="email" name="_replyto" class="form-control" placeholder="email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <textarea name="message" class="form-group form-control" rows="3" placeholder="typ hier uw berichtje"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <input type="text" name="_gotcha" style="display:none">
              <input type="submit" class="btn btn-contact" style="width: 100%" value="Verzend">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="map" style="width: 100%;height: 400px;"></div>
<script>
  function initMap() {
    var styles = [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#6195a0"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#0099b1"},{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45},{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#fac9a9"},{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"labels.text","stylers":[{"color":"#4e4e4e"}]},{"featureType":"road.arterial","elementType":"labels.text.fill","stylers":[{"color":"#787878"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#eaf6f8"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#eaf6f8"}]}];
    var myLatLng = {lat: 51.216613, lng: 4.66279};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: myLatLng,
      scrollwheel:  false,
      styles: styles
    });
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Het Koffieboontje!'
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
async defer></script>