---
title: Het koffieboontje
---
<div class="banner" style="background: linear-gradient(-225deg, rgba(204,115,48,0.4) 0%, rgba(85,78,72,0.6) 50%), url('images/beans-compressor.jpeg'); background-position: 30% 50%;">
  <div class="banner-content">
    <div class="banner-info">
      <h5>AMELBERGASTRAAT 35 | ZANDHOVEN | +32 476569063</h5>
    </div>
    <h1>HET KOFFIEBOONTJE</h1>
    <p>Een leuk, gezellig koffie- en theehuis in het centrum van Zandhoven.</p>
  </div>
</div>

<div class="wrapper-whitish padded">
  <div class="container">
    <div class="welcome-statement">
      <div class="welcome-statement-avatar">
        <img src="images/jolien.jpg" alt="Jolien Gabriels">
      </div>
      <div class="welcome-statement-quote">
        <i class="fa fa-quote-left"></i><i style="opacity: 0.9;">Welkom op mijn website. Hier zal ik jullie rondleiden langs de heerlijkheden die ik serveer en zal ik jullie informeren over praktische zaken als de openingstijden en groepsreservaties. Hopelijk tot snel in het koffieboontje!</i><i class="fa fa-quote-right"></i> - <i><b>Jolien Gabriels</b></i>
      </div>
    </div>
  </div>
</div>

<div class="banner" style="background: linear-gradient(-519deg, rgba(204,115,48,0.4) 0%, rgba(85,78,72,0.5) 50%), url('images/tables-flip.jpeg'); background-position: 30% 23%;">
  <div class="container">
    <div class="banner-container-right">
      <div class="banner-card">
        <i class="fa fa-5x fa-clock-o banner-openingstijden hidden-xs"></i>
        <div class="banner-card-content">
          <div class="banner-card-title"> Openingstijden</div>
          <div class="banner-card-summary">
            <ul>
              <li>Maandag - Vrijdag: 08.30u - 16.30u</li>
              <li>Donderdag: GESLOTEN</li>
              <li>Zaterdag - Zondag: 09.00u - 17.00u</li>
            </ul>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>

<div class="wrapper-whitish padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url('images/coffee-machine.jpeg');">
          <div class="card-title">
            <h2>OVER ONS</h2>
          </div>
          <%= link_to "", "about.html", class: "card-link" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url('images/locatie.jpg');">
          <div class="card-title">
            <h2>BEZOEK ONS</h2>
          </div>
          <%= link_to "", "contact.html", class: "card-link" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url('images/cappucino-2.jpeg');">
          <div class="card-title">
            <h2>ONS MENU</h2>
          </div>
          <%= link_to "", "menu.html", class: "card-link" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner" style="background: linear-gradient(-225deg, rgba(204,115,48,0.4) 0%, rgba(85,78,72,0.6) 50%), url('images/krantje-compressor.jpg'); background-position: 30% 95%;">
  <div class="container">
    <div class="banner-container">
      <div class="banner-card">
        <div class="banner-card-content">
          <div class="banner-card-title">Het Koffieboontje in het nieuws.</div>
          <div class="banner-card-summary"><i class="fa fa-quote-left"></i>In de Amelbergastraat 35 werd het cavaglas geheven op de opening van koffie- en theehuisje Het Koffieboontje. Jolien Gabriels zorgt met kringloopmeubels voor een originele toets.<i class="fa fa-quote-right"></i></div>
          <div class="banner-news-footer">
            <div class="banner-news-author">
              <div class="banner-news-avatar">
                <img src="images/KristinMatthyssen.jpg" alt="Kristin Matthyssen">
              </div>
              <div class="banner-news-infos">
                <div class="banner-news-author-name">Kristin Matthyssen</div>
                <div class="banner-news-author-date">9 april 2016</div>
                <div class="banner-news-paper-link hidden-xs">
                  <a href="http://www.gva.be/cnt/blkma_02227832/het-koffieboontje-is-er-voor-haar-en-hem">Lees het volledige artikel</a>
                  <i class="fa fa-arrow-right"></i>
                </div>
              </div>
              <img src="images/gazet-van-antwerpen-red.svg" alt="gazet van antwerpen" class="banner-news-paper">
            </div>
          </div>
          <a href="http://www.gva.be/cnt/blkma_02227832/het-koffieboontje-is-er-voor-haar-en-hem" class="banner-news-link"></a>
        </div>
      </div>
    </div>
  </div>
</div>



