---
title: Het koffieboontje
---

<div class="banner" style="background: linear-gradient(-225deg, rgba(204,115,48,0.4) 0%, rgba(85,78,72,0.6) 50%), url('images/beans-3.jpeg'); ;background-position: 30% 50%;">
  <div class="banner-content">
    <div class="call-to-action">
      <h5>AMELBERGASTRAAT 35 | ZANDHOVEN | +32 476569063</h5>
    </div>
    <h1>HET KOFFIEBOONTJE</h1>
    <p>Een leuk, gezellig koffie- en theehuis in het centrum van Zandhoven.</p>
  </div>
</div>

<div class="container text-center padded features">
  <h2>
    OPENING 1 APRIL
  </h2>
</div>

<div class="wrapper-orange padded">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: url('images/coffee-machine.jpeg');">
            <div class="card-title">
            <h2>OVER ONS</h2>
            </div>
            <%= link_to "", "about.html", class: "card-link" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: url('images/locatie.jpg');">
            <div class="card-title">
            <h2>BEZOEK ONS</h2>
            </div>
            <%= link_to "", "contact.html", class: "card-link" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: url('images/cappucino-2.jpeg');">
            <div class="card-title">
            <h2>ONS MENU</h2>
            </div>
            <%= link_to "", "menu.html", class: "card-link" %>
          </div>
        </div>
    </div>
  </div>
</div>

