---
title: Menu
---
<div class="banner-pages" style="background: linear-gradient(-225deg, rgba(204,115,48,0.4) 0%, rgba(85,78,72,0.6) 50%), url('images/beans-compressor.jpeg'); background-position: 30% 50%;">
  <div class="banner-content">
    <h2>Menu</h2>
  </div>
</div>

<div class="tab-box menu-tabbar">
<a href="#" data-target="#dranken"><span class="active" data-target="#dranken">DRANKEN</span></a>
  <a href="#" data-target="#spijzen"><span data-target="#spijzen">SPIJZEN</span></a>
</div>

<div class="wrapper-whitish">
  <div class="container padded">
  </div>
</div>