---
title: Menu
---
<div class="banner-pages" style="background: linear-gradient(-225deg, rgba(204,115,48,0.4) 0%, rgba(85,78,72,0.6) 50%), url('images/beans-3.jpeg'); background-position: 30% 50%;">
  <div class="banner-content">
    <h2>Het Menu</h2>
  </div>
</div>