---
title: Menu
---
<div class="banner-pages" style="background: linear-gradient(-225deg, rgba(204,115,48,0.4) 0%, rgba(85,78,72,0.6) 50%), url('images/beans-compressor.jpeg');background-position: 56% 53%;">
  <div class="banner-content">
    <h2>Menu</h2>
  </div>
</div>

<div class="tab-box menu-tabbar">
<a href="#" data-target="#dranken"><span class="tab active" data-target="#dranken">DRANKEN</span></a>
  <a href="#" data-target="#spijzen"><span class="tab" data-target="#spijzen">SPIJZEN</span></a>
</div>

<div class="wrapper-whitish">
  <div class="container">
    <div class="menu-pdf pull-right">
      <a href="files/menukaart-nieuw.pdf" download="menukaart-nieuw">Download het menu als pdf</a>
    </div>
  </div>
</div>

<div class="wrapper-whitish">
  <div class="tab-content menu-card-wrap" id="dranken">
    <div class="menu-additional-info text-center">
      Bij ons heeft u tevens de mogelijkheid om losse thee (Or Tea) aan te kopen.
    </div>
    <div class="menu-card">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Taeymans Koffie</span>
            <br>
            <span class="menu-description">Meeneem: € -0.20 </span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Gewone koffie</span>
              <span class="menu-prize">€ 2.4</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Decafeïne</span>
              <span class="menu-prize">€ 2.4</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Espresso</span>
              <span class="menu-prize">€ 2.2</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Espresso Doppio</span>
              <span class="menu-prize">€ 2.5</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Ristretto</span>
              <span class="menu-prize">€ 2.2</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Cappuccino</span>
              <span class="menu-prize">€ 2.7</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Latte Macchiato</span>
              <span class="menu-prize">€ 2.7</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-card hidden-xs" style="background: linear-gradient(-225deg, rgba(214, 143, 90, 0.3) 0%, rgba(245, 245, 245, 0.15) 50%), url(images/latte.jpg);
    background-position: 56% 42%;
    background-repeat: no-repeat;
    background-size: 100%;">
    </div>
    <div class="menu-card">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Speciale koffies</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Diverse Lattes</span>
              <span class="menu-prize">€ 3.3 - 3.5</span>
            </div>
              <span class="menu-description">(oa. Vanille, Caramel, Speculaas, Hazelnoot, Choco, Kaneel, Italian, Irish, Macaron)</span>
          </li>
          <br>
          <li>
            <div class="menu-details">
              <span class="menu-title">Koffie met taart van de dag</span>
              <span class="menu-prize">€ 6</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Koffie met gebak van de dag</span>
              <span class="menu-prize">€ 4.5</span>
            </div>
          </li>
          <br>
          <li>
            <div class="menu-details">
              <span class="menu-title">Italian Coffee</span>
              <span class="menu-prize">€ 6</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Irish Coffee</span>
              <span class="menu-prize">€ 6</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Antwerpse Koffie</span>
              <span class="menu-prize">€ 6</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-whitish">
  <div class="tab-content menu-card-wrap-advice" id="dranken">
        <div class="menu-advice">
          <div class="menu-advice-avatar">
            <img src="images/mocktail.jpg" alt="Jolien Gabriels">
          </div>
          <div class="menu-advice-quote">
            <i class="fa fa-quote-left"></i><i style="opacity: 0.9;">Verfrissende mocktail met appel en munt - nu voor €5.</i><i class="fa fa-quote-right"></i> 
          </div>
        </div>
  </div>
</div>
<div class="wrapper-whitish">
  <div class="tab-content menu-card-wrap" id="dranken">
    <div class="menu-card">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Thee</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Diverse smaken (Or Tea)</span>
              <span class="menu-prize">€ 3 - 3.5</span>
            </div>
            <span class="menu-description">(oa. Mount Feather (groene thee), Dragon Pearl Jasmin (jasmijn thee), Long live browse (witte thee), La vie en Rose (zwarte thee), EnerGinger (gember thee), Duke's Blues (earl grey), Queen Berry (bessenthee), TropiCoco (fruitige thee met coco's), BeeCalm (Kamillethee)</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Verse muntthee</span>
              <span class="menu-prize">€ 3.2</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-card">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Chocomelk</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Puur</span>
              <span class="menu-prize">€ 2.5</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Melk</span>
              <span class="menu-prize">€ 2.5</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-card">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Frisdrank</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Sinaasappelsap</span>
              <span class="menu-prize">€ 1.7</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Tropical</span>
              <span class="menu-prize">€ 1.7</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Guava</span>
              <span class="menu-prize">€ 1.7</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Cola</span>
              <span class="menu-prize">€ 2.1</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Cola zero</span>
              <span class="menu-prize">€ 2.1</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Water plat</span>
              <span class="menu-prize">€ 2.1</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Water bruis</span>
              <span class="menu-prize">€ 2.1</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Schweppes</span>
              <span class="menu-prize">€ 2.5</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-whitish">
  <div class="tab-content menu-card-wrap-advice" id="dranken">
    <div class="menu-advice-right">
          <div class="menu-advice-right-quote">
            <i class="fa fa-quote-left"></i><i style="opacity: 0.9;">
            Appelsap - nu voor €2.</i><i class="fa fa-quote-right"></i> 
          </div>
          <div class="menu-advice-right-avatar">
            <img src="images/appelsap.jpg" alt="Jolien Gabriels">
          </div>
        </div>
  </div>
</div>
<div class="wrapper-whitish">
  <div class="tab-content menu-card-wrap" id="dranken">
    <div class="menu-card">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Bier</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Stella</span>
              <span class="menu-prize">€ 2.2</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Trappist Westmalle (dubbel)</span>
              <span class="menu-prize">€ 3.2</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Trappist Westmalle (trippel)</span>
              <span class="menu-prize">€ 3.4</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Duvel</span>
              <span class="menu-prize">€ 3.4</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Speciaal biertje van de maand</span>
              <span class="menu-prize">€ 3.2</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-card hidden-xs" style="background: linear-gradient(-225deg, rgba(214, 143, 90, 0.5) 0%, rgba(245, 245, 245, 0.15) 50%), url(images/grimbergen.jpg);background-position: 71% 35%; background-size: 114% 270%; background-repeat: no-repeat;">
    </div>
    <div class="menu-card">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Wijn</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Witte huiswijn</span>
              <span class="menu-prize">€ 4.5</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Rode huiswijn</span>
              <span class="menu-prize">€ 4.5</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Porto (wit-rood)</span>
              <span class="menu-prize">€ 3.5</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Sherry</span>
              <span class="menu-prize">€ 4</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Cava</span>
              <span class="menu-prize">€ 6.5</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>  

  <div class="tab-content menu-card-wrap hidden" id="spijzen">
    <div class="menu-additional-info text-center">
      Pannenkoeken enkel op woensdag, zaterdag en zondag.
    </div>
    <div class="menu-card menu-card-spijzen">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Lekkernijen</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Gebakje van de dag</span>
              <span class="menu-prize">€ 2.5</span>
            </div>
            <span class="menu-description">(Kan wisselen tussen donuts, eclairs, boules de Berlin, croissants,...)</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Verse taart</span>
              <span class="menu-prize">€ 4</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Lekker dessertje</span>
              <span class="menu-prize">€ 4</span>
            </div>
            <span class="menu-description">(wisselend aanbod)</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Pannenkoeken (2 stuks)</span>
              <span class="menu-prize">€ 4</span>
            </div>
            <span class="menu-description">Met suiker</span>
            <br>
            <span class="menu-description">Met confituur</span>
            <br>
            <span class="menu-description">Met siroop</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Kinderpannenkoek (1 stuk)</span>
              <span class="menu-prize">€ 2</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Croque uit het vuistje</span>
              <span class="menu-prize">€ 4</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Verse soep</span>
              <span class="menu-prize">€ 5</span>
            </div>
            <span class="menu-description">(tot de voorraad strekt)</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-card hidden-xs" style="background: url('images/ontbijt02-min.JPG'); background-position: 78% 0%; background-size: 115%; background-repeat: no-repeat;">
    </div>
    <div class="menu-card menu-card-spijzen">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Ontbijt*</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Standaard ontbijt</span>
              <span class="menu-prize">€ 12.5</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Luxe ontbijt</span>
              <span class="menu-prize">€ 19</span>
            </div>
            <br>
            <i><span class="menu-description">*Enkel op reservatie minstens één dag op voorhand! <a href="mailto:het.koffieboontje@telenet.be">het.koffieboontje@telenet.be</a>  of ter plaatse.</span></i>
          </li>
          <li>
            <div class="menu-details"></div>
          </li>
          <li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>