---
title: Menu
---
<div class="banner-pages" style="background: linear-gradient(-225deg, rgba(204,115,48,0.4) 0%, rgba(85,78,72,0.6) 50%), url('images/beans-compressor.jpeg');background-position: 56% 53%;">
  <div class="banner-content">
    <h2>Menu</h2>
  </div>
</div>

<div class="tab-box menu-tabbar">
<a href="#" data-target="#dranken"><span class="tab active" data-target="#dranken">DRANKEN</span></a>
  <a href="#" data-target="#spijzen"><span class="tab" data-target="#spijzen">SPIJZEN</span></a>
</div>

<div class="wrapper-whitish">
  <div class="container">
    <div class="menu-pdf pull-right">
      <a href="files/menukaart-koffieboontje.pdf" download="menukaart-koffieboontje">Download het menu als pdf</a>
    </div>
  </div>
</div>

<div class="wrapper-whitish">
  <div class="tab-content menu-card-wrap" id="dranken">
    <div class="menu-card">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Taeymans Koffie</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Gewone koffie</span>
              <span class="menu-prize">€ 2.4</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Decafeïne</span>
              <span class="menu-prize">€ 2.4</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Espresso</span>
              <span class="menu-prize">€ 2.2</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Espresso Doppio</span>
              <span class="menu-prize">€ 2.5</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Ristretto</span>
              <span class="menu-prize">€ 2.2</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Cappuccino</span>
              <span class="menu-prize">€ 2.7</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Latte Macchiato</span>
              <span class="menu-prize">€ 2.7</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-card" style="background: url('images/cappucino-2.jpeg'); background-position: 56% 53%;">
    </div>
    <div class="menu-card">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Speciale koffie's</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Vanille Latte</span>
              <span class="menu-prize">€ 3.3</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Italian Latte</span>
              <span class="menu-prize">€ 3.3</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Irish Latte</span>
              <span class="menu-prize">€ 3.3</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Koffie met taart van de dag</span>
              <span class="menu-prize">€ 6</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Koffie met gebak van de dag</span>
              <span class="menu-prize">€ 4.5</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Italian Coffee</span>
              <span class="menu-prize">€ 6</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Irish Coffee</span>
              <span class="menu-prize">€ 6</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-card">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Chocomelk</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Puur</span>
              <span class="menu-prize">€ 2.5</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Melk</span>
              <span class="menu-prize">€ 2.5</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-card">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Frisdrank</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Sinaasappelsap</span>
              <span class="menu-prize">€ 1.5</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Tropical</span>
              <span class="menu-prize">€ 1.5</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Guava</span>
              <span class="menu-prize">€ 1.5</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Cola</span>
              <span class="menu-prize">€ 2.1</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Cola zero</span>
              <span class="menu-prize">€ 2.1</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Water plat</span>
              <span class="menu-prize">€ 2.1</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Water bruis</span>
              <span class="menu-prize">€ 2.1</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-card">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Bier</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Stella</span>
              <span class="menu-prize">€ 2.2</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Trappist Westmalle (dubbel)</span>
              <span class="menu-prize">€ 3.2</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Trappist Westmalle (trippel)</span>
              <span class="menu-prize">€ 3.4</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Duvel</span>
              <span class="menu-prize">€ 3.4</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Speciaal biertje van de maand</span>
              <span class="menu-prize">€ 3.2</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-card">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Wijn</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Witte huiswijn</span>
              <span class="menu-prize">€ 4.5</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Rode huiswijn</span>
              <span class="menu-prize">€ 4.5</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Porto (wit-rood)</span>
              <span class="menu-prize">€ 3.5</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Sherry</span>
              <span class="menu-prize">€ 4</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Cava</span>
              <span class="menu-prize">€ 6.5</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-card">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Thee</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Mount Feather (groene thee)</span>
              <span class="menu-prize">€ 3</span>
            </div>
            <span class="menu-description">Zacht, aangenaam en fris.</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Dragon Pearl Jasmin (jasmijn thee)</span>
              <span class="menu-prize">€ 3.5</span>
            </div>
            <span class="menu-description">Pure groene thee met zoetfrisse smaak van Jasmijn.</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Long live browse (witte thee)</span>
              <span class="menu-prize">€ 3.5</span>
            </div>
            <span class="menu-description">Deze thee wordt omgeschreven als de champagne onder de thees.</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">EnerGinger (gember thee)</span>
              <span class="menu-prize">€ 3</span>
            </div>
            <span class="menu-description">Energieboost!</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Duke's Blues (earl grey)</span>
              <span class="menu-prize">€ 3</span>
            </div>
            <span class="menu-description">Frisse toets van bergamot.</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Queen Berry (bessenthee)</span>
              <span class="menu-prize">€ 3</span>
            </div>
            <span class="menu-description">Druif, vlierbes, zwarte bes, blauwe bes, aardbei en hibiscus. Natuurlijke bron van vitamine C.</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">TropiCoco (fruitige thee met coco's)</span>
              <span class="menu-prize">€ 3</span>
            </div>
            <span class="menu-description">Sinaasappel, citroen, ananas en kokosnoot. Natuurlijke bron van vitamines.</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Verse muntthee</span>
              <span class="menu-prize">€ 3.2</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="tab-content menu-card-wrap hidden" id="spijzen">
    <div class="menu-additional-info text-center">
      Pannenkoeken enkel op woensdag, zaterdag en zondag.
    </div>
    <div class="menu-card menu-card-spijzen">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Diversen</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Gebakje van de dag</span>
              <span class="menu-prize">€ 2.5</span>
            </div>
            <span class="menu-description">(Kan wisselen tussen donuts, eclairs, boules de Berlin,...)</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Croissant</span>
              <span class="menu-prize">€ 2</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Verse taart</span>
              <span class="menu-prize">€ 3.8</span>
            </div>
            <span class="menu-description">Nu vast in ons gamma</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Pannenkoeken (2 stuks)</span>
              <span class="menu-prize">€ 4</span>
            </div>
            <span class="menu-description">Met suiker</span>
            <br>
            <span class="menu-description">Met confituur</span>
            <br>
            <span class="menu-description">Met siroop</span>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Kinderpannenkoek (1 stuk)</span>
              <span class="menu-prize">€ 2</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Croque uit het vuistje</span>
              <span class="menu-prize">€ 4</span>
            </div>
          </li>
          <li>
            <div class="menu-details">
              <span class="menu-title">Dagsoep</span>
              <span class="menu-prize">€ 4</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-card" style="background: url('images/croissant.jpeg'); background-position: 56% 53%;">
    </div>
    <div class="menu-card menu-card-spijzen">
      <div class="menu-card-content">
        <ul>
          <li>
            <span class="menu-category">Ontbijt</span>
          </li>
          <li>
            <div class="menu-details"></div>
          </li>
          <li>
            <span class="menu-description">We zijn nog volop bezig met het samenstellen van de ontbijten. Deze komen binnenkort op de website.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>